/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

html{
    font-family: 'Yeseva One', 'Rubik', Arial, Helvetica, sans-serif;
}
/******************************************
/* BASE STYLES
/*******************************************/
/* prevents horizontal scroll for page */
body {
    padding: 0; 
    margin: 0; 
    width:100%;
}
/* .orange_text{
    color: orange !important;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
} */

/******************************************
/* LAYOUT
/*******************************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

footer {

}
/* Welcome to Our Cuisine Restaurant*/
.main{
    height: 670px;
    display: block;
    /* width: 1020px; */
    background-image: url(../img/bg1c.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    opacity: 0.93;

}
/* .main_img img{
max-width: 100%;    
/* height: 600px; 
} */


/* Removes the gap space in between the divs */
section{
    display: inline-block;
}
.main nav{
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    /* position: fixed; */
}
.logo{
    width: 10%;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0 15px;
}
.nav_links li a{
    color: black;
    text-decoration: none;
}
i {
    padding: 0 15px;
}
/* .orange_text{
    color: orange !important;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}*/
/* About Us Section */
.about{
    height: 800px;
    max-width: 100%;
    display: block;
    background-image: url(../img/bg2b.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.about_main{
    width: 500px;
    height: 800px;
    margin-left: 500px;
    padding: 30px 80px;
    line-height: 30px;
}
/* Menu with Pictures Section */
.menu{
    height: 1100px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: rgba(242,246,247,255);
    clear: both;
}
.menu div{
    /* display: inline-block; */
}
.menu_heading{
    /* display: inline-block; */
    /* max-width: 800px; */
    /* display: block; */
    padding-top: 36px;
    margin: 0;
    text-align: center;
    /* vertical-align: baseline; */
    clear: both;
}
.menu_tabs{
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px 0;
    margin-right: 80px;
}
.menu_tabs li{
    display: flex;
    padding: 0 15px;
    text-decoration: none;
}
/* .menu_container{
    clear: both;
} */
.menu_pictures{
    /* display: flex;
    float: left; 
    clear: both;
    width: 1000px; */
    width: 90%;
    margin: 0 45px 40px 64px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto;
}
.menu_pictures img{
    /* width: 30%; */
    margin-right: 10px;
    /* display: block;
    /* clear: both;
    flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    width: 90%;
    height: 100%;
    padding: 10px 0;
    /* object-fit: cover;
    object-position: center; */
}
/* Open Hours Section */
.open_hours{
    height: 1250px;
    max-width: 100%;
    background-color: rgb(250, 250, 250);
}
/* .open_hours::before{
    content: "";
    background-image: url(../img/coffee-and-oatmeal.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.99;
} */
.book_now{
    padding: 40px;
    width: 100%;
    display: inline-block;
    text-align: center;
    /* float: left;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    clear: both; */
}
.call_now{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.open_days{
    text-align: center;

}
.monday{
    width: 30%;
    display: inline-block;
    margin-left: 30px;
    margin-right: 20px;
    padding-left: 10px;
    text-align: left;
    line-height: 0;
    /* text-align: center;
    /*justify-content: space-evenly;
    justify-content: center; */
}
.friday{
    width: 30%;
    display: inline-block;
    margin: 0;
    text-align: left;
    line-height: 0;
    /* text-align: center;
    /* justify-content: space-around;
    justify-content: center; */
}
.open_pic{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 30px auto;

}
.customer_reviews{
    text-align: center;
    height: 600px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.welcome_text{
    width: 700px;
    padding: 25px 0 10px 0;
    /* margin: 0 250px; */
    margin-left: 150px;
}
section h1{
    font-size: 70px;
    font-weight: 500;
    text-align: left;
    vertical-align: baseline;
    padding: 10px;
    margin: 50px 0 0 0;
    /* line-height: 30px; */

}
img {
    max-width: 100%;
}
form{
    padding: 5px 0;
    margin: 10px 0 15px 0;
    display: block;
}

form .main_search{
    width: 450px;
    height: 40px;
    border: none;
}
form .location{
    height: 40px;
    width: 100px;
    color: white;
    background: orange;
    border: none;
}
.fa-facebook-f, .fa-twitter, .fa-instagram{
    color: orange;
}
span{
    color: orange;
}
h3 span{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}
.about_main p{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}
.about_main button{
    color: white;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 10px;
    height: 50px;
    width: 150px;
}
.order_online{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;;
}
.menu_tabs{
    font-family: 'Rubik', Arial, Helvetica, sans-serif; 
    color: rgb(182, 179, 179);
}
.book_now span{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}
.book_now h3{
    font-size: 50px;
    font-weight: 500;
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
}
.call_now i{
    color: orange;
    font-size: 36px;
}
.call_now .call{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
}
.call_now .phone{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    color: orange;
    font-size: 44px;
    font-weight: 300;
}
.day{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
}
.time{
    font-size: 35px;
    font-weight: 500;
}
.review-head{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: orange;
    line-height: 0;
    padding: 10px;
}
.say {
    font-family: 'Yeseva One', Arial, Helvetica, sans-serif;
    font-size: 56px;
    font-weight: 500;
    line-height: 0;
}
.name{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 0;
}
.title{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: gray;
}
.fa-star{
    color: orange;
}
.full_review{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    color: slategrey;
    line-height: 25px;
}